<html>
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>

  <ul class="ul-navbar">
    <li class="li-navbar" style="float:left"><a   href="home"><img src="../../static/logo3.PNG" alt="" style="height: 50px;width: 140px;"></a></li>
    
    <li class="li-navbar" style="float:right"><a class="a-navbar" href="{{ url_for('logout') }}">Logout</a></li>
    <li class="li-navbar" style="float: right;"><a class="a-navbar" href="about">About Us</a></li>
    <li class="li-navbar" style="float:right"><a class="a-navbar" href="generate" >Generate Melody</a></li>
    
  </ul>
<br><br>
<h1>Raag Bhoopali</h1>
<div class="body-container">
    <div class="left">
        <p style="width: 700px">
            Bhopali, also known as Bhoop, Bhoopali or Bhupali, is a Hindustani classical raga.
            It is a pentatonic scale (uses 5 notes in ascending and descending scale). 
            Most of the songs in this raga are based on Bhakti rasa.
            <br>
            This Raag is popular as Raag Mohan in Carnatic Music.
            This is a Poorvang Pradhan Raag and is mostly sung in Madhya and Mandra octaves. 
            It creates a deep and soothing atmosphere. The following illustrative combinations 
            clearly bring out the melodic format: 
            S ; S ,D S R G ; R G S R ,D S ; S R G P ; P G R G ; R P G ; G S R ; R ,D S ; G R G ; P G ; P D P P ; D P ; G P R G R S ,D S ; S R G R G P D S' ; P D P S' ; S' S' ; R' S' D S' ; D S' R' G' R' S' ; D S' D P G R G ; P R G R S ; R ,D S ;
        </p>

        <table style="text-align:center; font-size: 20px;">
            <tbody>
            
            <tr ><td width="25%">Swaras</td>
            <td>Madhyam and Nishad forbidden (varjya). Rest All Shuddha Swaras.</td></tr>
            
            <tr><td width="25%">Jati</td>
            <td>	Audhav-Audhav</td></tr>
            
            <tr ><td width="25%">Thaat</td>
            <td>Kalyan</td></tr>
            
            <tr><td width="25%">Vadi/Samvadi</td>
            <td>Gandhar/Dhaivat</td></tr>
            
            <tr ><td width="25%">Time</td>
            <td>(6 PM - 9 PM): 1st Prahar of the night: Ratri ka Pratham Prahar: Sandhi Prakash Time</td></tr>
            
            <tr><td width="25%">Vishranti Sthan</td>
            <td><strong>S; R; G; P; - P; G; R; S;</strong></td></tr>
            
            <tr ><td width="25%">Mukhya-Ang</td>
            <td><strong>G R G; P G; D P; S' D P G; P G R G; G R S; </strong></td></tr>
            
            <tr><td width="25%">Aaroh-Avroh</td>
            <td><strong>S R G P D S' - S' D P G R S R ,D S; </strong></td></tr>
            
            </tbody>
        </table>
    </div>


    <div class="right" style="width: 370px;">
        <h3>Sargam</h3>
        <audio controls >
            <source src="../../static/audio/Sargam- S ,D S R P G- Trital- PVR.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>

        <h3>Raag Bhoopali Arohana and Avarohana</h3>
        <audio controls>
        
            <source src="../../static/audio/Bhoopali-AarohAvroh-PVR.mp3" type="audio/mpeg">
            
        Your browser does not support the audio element.
        </audio>
        <video width="350" height="200" controls>
          <source src="../../static/video/Raag Bhoopali.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
    </div>
</div>


<div class="fun-facts">
  <h3 class="animate-charcter">Free Lessons!!</h3> <br>
  <p>Raag Bhoopali is one of the first ragas a Hindustani classical student learns and is considered to be one
    of the most fundamental ragas in the tradition.Listed below are some basic lessons which every student must checkout ...</p>
  <button type="button" class="collapsible">Lesson 1 (Reading)</button>
  <div class="content">
    <p>
      Raag or Raaga: <br>
      The melody with an overall mood or environment producing a lasting impression while entertaining or recreating the audience. A combination of different musical notes or Swaras in a particular sequence of ascending and descending makes a Raag.
      <br><br>
      Rasas or Bhavas: <br>
      There are 9 Rasas or Bhavas described in the Hindustani Classical Music/Dance forms: Bhakti (Devotional), Karuna, Veer, Veebhatsa, Vichitra, Hasya (Humour), Virah, Vairagya and Krodh (Anger).
      <br><br>
      Sargam: <br>
      The composition which uses the names of the notes instead of words.
      <br><br>
      Aaroh-Avroh: <br>
      Aaroh of a Raag is the sequence of the notes in ascending order between Madhya Shadja (S) and Tar Shadja (S'). Avroh of a Raag is the sequence of notes in descending order between Tar Shadja (S') and Madhya Shadja (S).
      <br><br>
      Alankar: <br>
      Alankars literally meaning jewels, are combination of the notes of a Raag. Alankars follow a particular pattern of combination of notes like an ornament and are very effective while rendering Taans.
      <br><br>
      Alap: <br>
      It is the development of a Raag through improvisation while observing all the laws of the Raag.
      <br><br>
      Antara: <br>
      It is the second stanza of a composition, usually including and emphasizing the upper notes of the Raag.
      <br><br>
      Chota Khayal: <br>
      A composition in medium to fast tempo that usually follows the bada khayal.<br><br>
      Bada Khayal: <br>
      The first composition of a khayal performance in slow tempo.
      <br><br>
      Bandish: <br>
      A composition in Hindustani classical music, usually with two parts corresponding to the sthayi and antara.
      <br><br>
    </p>
  </div>
  <br> <br> 
  <button type="button" class="collapsible">Lesson 2 (Reading + Practice)</button>
  <div class="content">
    <p> How to sing Aaroh and Avroh ?<br>
      Aaroh of a Raag is the sequence of the notes in ascending order between Madhya Shadja (S) and Tar Shadja (S'). Avroh of a Raag is the sequence of notes in descending order between Tar Shadja (S') and Madhya Shadja (S).
      <br><br>
      <audio controls >
        <source src="../../static/audio/Bhoopali-AarohAvroh-PVR.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio><br>
  </div>
  <br><br>
  <button type="button" class="collapsible">Lesson 3 ( Reading + Practice )</button>
  <div class="content">
    <p>
      How to Sing the Sargam ? <br>
      The composition which uses the names of the notes instead of words.  <br><br>
      <audio controls >
        <source src="../../static/audio/bhoopali23.wav" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
    </p>
  </div>
  

  
  </div>





<div class="fun-facts">
    <h3 class="animate-charcter"> Raag Bhoopali in Bollywood !!</h3> <br>
  <p>Raag Bhoopali is not only limited to Indian Classical music but can be also seen 
    in Bollywood Movies! Yes, you read it right in Bollywood Movies as well. 
    Here are some songs...</p>
    <div class="fun-facts-songs">
      <div class="song1">
  <button type="button" class="collapsible2">Song : Dekha ek khwaab to ye silsile hue</button>
  <div class="content2">
    <p>
        Film: Silsila <br>
        Singers: Kishore Kumar Lata Mangeshkar <br>
        Taal: Dadra <br>
      Youtube Link : <a style="color: white;" href="https://www.youtube.com/watch?v=qJy5GFoQSPg">Click Here</a></p>
  </div>
  </div>
  <div class="song1">
  <button type="button" class="collapsible2">Song : In Ankhon Ki Masti Ke Mastane Hazaron Hai</button>
  <div class="content2">
    <p>
        Film - Umrao Jaan <br>
        Year - 1981 <br>
        Raag - Bhoopali <br>
        Taal - Kaherava <br>
        Singer(s) - Asha Bhosle <br>
      Youtube Link : <a style="color: white;" href="https://www.youtube.com/watch?v=yjYE41bYnUM">Click Here</a></p>
  </div>
  </div>
  <div class="song1">
  <button type="button" class="collapsible">Song : Main Tenu Samjhawan Ki</button>
  <div class="content">
    <p>
        Film : Humpty Sharma Ki Dulhania (2014) <br>
        Music Director(s) : Jawad Ahmed Sharib Toshi <br>
        Singer(s) : Arijit Singh, Shreya Ghosal <br>
        Lyricist(s) : Ahmad Anees Kumaar <br>
      Youtube Link : <a style="color: white;" href="https://www.youtube.com/watch?v=H2f7MZaw3Yo">Click Here</a></p>
  </div>
  </div>
  </div>
</div>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }

    
    var coll = document.getElementsByClassName("collapsible2");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
    </script>

</body>

</html>