<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="../../static/style.css">
  <style>
 
  </style>
<body>
  
<ul class="ul-navbar">
  <li class="li-navbar" style="float:left"><a   href="home"><img src="../../static/logo3.PNG" alt="" style="height: 50px;width: 140px;"></a></li>
  
  <li class="li-navbar" style="float:right"><a class="a-navbar" href="{{ url_for('logout') }}">Logout</a></li>
  <li class="li-navbar" style="float: right;"><a class="a-navbar" href="about">About Us</a></li>
  <li class="li-navbar" style="float:right"><a class="a-navbar" href="generate" >Generate Melody</a></li>
  
</ul>
<br><br>
<h1 >Raag Yaman</h1>
<div class="body-container">
  
  <div class="left">
      <p style="width: 700px"> Yaman is a sampurna (consists of 7 notes) raga from the Hindustani music tradition.
          It is one of the first ragas a Hindustani classical student learns and is considered to be one
          of the most fundamental ragas in the tradition.
          This Raag is rendered at the time when lights are put on.
          Its original name is Raag Kalyan and only during the Mughal's rule the
          name Yaman was introduced and became current.
      </p>
      <table style="text-align:center; font-size: 20px;">
        <tbody>
        <tr ><td width="25%">Swaras</td>
        <td>Madhyam Teevra. Rest All Shuddha Swaras.</td></tr>
        
        <tr><td width="25%">Jati</td>
        <td>	Sampurna-Sampurna</td></tr>
        
        <tr ><td width="25%">Thaat</td>
        <td>Kalyan</td></tr>
        
        <tr><td width="25%">Vadi/Samvadi</td>
        <td>Gandhar/Nishad</td></tr>
        
        <tr ><td width="25%">Time</td>
        <td>(6 PM - 9 PM): 1st Prahar of the night: Ratri ka Pratham Prahar</td></tr>
        
        <tr><td width="25%">Vishranti Sthan</td>
        <td><strong>S; G; N; - S'; N; P; G;</strong></td></tr>
        
        <tr><td width="25%">Mukhya-Ang</td>
        <td><strong>,N R G ; ,N R M G ; M P ; M D P N D P M R G R ; ,N R ,D ,N S; </strong></td></tr>
        
        <tr><td width="25%">Aaroh-Avroh</td>
        <td><strong>Ni Re Ga Ma Dha Ni Sa - Sa Ni Dha Pa Ma Ga Re Sa; </strong></td></tr>
        </tbody>
      </table>
  </div>
 

  <div class="right">
    
      <h3>Raag Yaman Basics (HINDI) </h3>
      <audio controls>
          <source src="../../static/audio/Raag Yaman - Raag Ras Barase - NCERT.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>

        <h3>Raag Yaman Swarmalika</h3>
        <audio controls >
            <source src="../../static/audio/Raag Yaman - Raag Ras Barase - NCERT (mp3cut.net).wav" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        <br>
        
          <video width="350" height="200" controls>
            <source src="../../static/video/yaman bandish.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
  </div>
</div>
  <div class="fun-facts">
  <h3 class="animate-charcter">Free Lessons!!</h3> <br>
  <p>Raag Yaman is s one of the first ragas a Hindustani classical student learns and is considered to be one
    of the most fundamental ragas in the tradition.Listed below are some basic lessons which every student must checkout ...</p>
  <button type="button" class="collapsible">Lesson 1 (Reading)</button>
  <div class="content">
    <p>
      Raag or Raaga: <br>
      The melody with an overall mood or environment producing a lasting impression while entertaining or recreating the audience. A combination of different musical notes or Swaras in a particular sequence of ascending and descending makes a Raag.
      <br><br>
      Rasas or Bhavas: <br>
      There are 9 Rasas or Bhavas described in the Hindustani Classical Music/Dance forms: Bhakti (Devotional), Karuna, Veer, Veebhatsa, Vichitra, Hasya (Humour), Virah, Vairagya and Krodh (Anger).
      <br><br>
      Sargam: <br>
      The composition which uses the names of the notes instead of words.
      <br><br>
      Aaroh-Avroh: <br>
      Aaroh of a Raag is the sequence of the notes in ascending order between Madhya Shadja (S) and Tar Shadja (S'). Avroh of a Raag is the sequence of notes in descending order between Tar Shadja (S') and Madhya Shadja (S).
      <br><br>
      Alankar: <br>
      Alankars literally meaning jewels, are combination of the notes of a Raag. Alankars follow a particular pattern of combination of notes like an ornament and are very effective while rendering Taans.
      <br><br>
      Alap: <br>
      It is the development of a Raag through improvisation while observing all the laws of the Raag.
      <br><br>
      Antara: <br>
      It is the second stanza of a composition, usually including and emphasizing the upper notes of the Raag.
      <br><br>
      Chota Khayal: <br>
      A composition in medium to fast tempo that usually follows the bada khayal.<br><br>
      Bada Khayal: <br>
      The first composition of a khayal performance in slow tempo.
      <br><br>
      Bandish: <br>
      A composition in Hindustani classical music, usually with two parts corresponding to the sthayi and antara.
      <br><br>
    </p>
  </div>
  <br> <br> 
  <button type="button" class="collapsible">Lesson 2 ( Reading + Practice )</button>
  <div class="content">
    <p>
      How to Sing the Swarmalika ? <br>
      Swarmalika is a style of singing where the vocalist sings the sargam of the song (The notes according to the Indian gamut).  
      The note-for-note relationship between the lyrics and the melody is very powerful in delineating the swar.  <br><br>
      <audio controls >
        <source src="../../static/audio/Raag Yaman - Raag Ras Barase - NCERT (mp3cut.net).wav" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
    </p>
  </div>
  <br> <br> 
  <button type="button" class="collapsible">Lesson 3 (Practice)</button>
  <div class="content">
    <p> In this lesson you will learn a bandish based on Raag Yaman , "Tori re Bansuriya..." <br><br>
      <audio controls >
        <source src="../../static/audio/yaman23.wav" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio><br><br>
      To learn more about the notations check out the Youtube Link : <a style="color: white;" href="https://www.youtube.com/watch?v=8oY1PGXg3R8">Click Here</a></p>
  </div>
  
  </div>

  <div class="fun-facts">
  <h3 class="animate-charcter"> Raag Yaman in Bollywood !!</h3> 
  <p style="font-size: 22px;">Raag Yaman is not only limited to Indian Classical music but can be also seen
      in Bollywood Movies! Yes, you read it right in Bollywood Movies as well.
      Here are some songs...
  </p>
<div class="fun-facts-songs">
<div class="song1">
  <button type="button" class="collapsible2">Song : Kay Sera Sera</button>
<div class="content2">
    <p>
      Film : Pukar (2000) <br>
      Music Director(s) : A R Rahman <br>
      Singer(s) : Kavita Krishnamurthy, Shankar Mahadevan <br>
      Lyricist(s) : Javed Akhtar <br>
      Youtube Link : <a style="color: white;" href="https://www.youtube.com/watch?v=JZT55qdOeYc">Click Here</a></p>
  </div>
  </div>
  <div class="song1">
  <button type="button" class="collapsible2" >Song : Ek Dil Ek Jaan</button>
  <div class="content2" >
    <p>
      Film : Padmaavat (2018) <br>
      Music Director(s) : Sanjay Leela Bhansali <br>
      Singer(s) : Shivam Pathak <br>
      Lyricist(s) : A M Turaz <br>
      Youtube Link : <a style="color: white;" href="https://www.youtube.com/watch?v=-qbiAAuygg8">Click Here</a></p>
  </div>
</div>
<div class="song1">
  <button type="button" class="collapsible2">Song : Jiyo To Aise Jiyo</button>
  <div class="content2">
    <p>
      Film : Bahu Beti (1965) <br>
      Music Director(s) : Ravi <br>
      Singer(s) : Mohammed Rafi <br>
      Lyricist(s) : Sahir Ludhianvi <br>
      Youtube Link : <a style="color: white;" href="https://www.youtube.com/watch?v=QHVOOIvQnzw">Click Here</a></p>
  </div>
</div>
</div>
</div>



  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }

    var coll = document.getElementsByClassName("collapsible2");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
    </script>
</body>

</html>